{{#name}}
## Class: {{name}}
{{/name}}
{{#description}}{{{description}}}{{/description}}

Name | Type | Description
--- | --- | ---
{{#members}}
{{name}} | {{#typesString}}`{{typesString}}`{{/typesString}} | {{#description}} {{{description}}}{{/description}}
{{/members}}
{{#methods}}
{{> function}}
{{/methods}}
